{
  "root": true,
  "extends": "airbnb",
  "env": {
      "es6": true,
      "browser": true,
      "node": true
  },
  "plugins": [
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
        "impliedStrict": true
    },
    "sourceType": "module"
  },
  "rules": {
  }
}
